* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: linear-gradient(45deg, #00853e, #50c878);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.card {
  width: 300px;
  height: 400px;
  background: #242628;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin: 0 10px;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.card__image {
  width: 120px;
  height: 120px;
  border: 4px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  transform: translateY(35px);
  cursor: pointer;
  transition: 0.5s;
}
.card h2 {
  margin-top: 55px;
}
.card p {
  color: orange;
  margin-top: 10px;
}
.social {
  margin: 25px 0;
}
.social a {
  color: white;
  margin: 25px 8px;
  font-size: 20px;
}
.social a:hover {
  color: orange;
}
.card button {
  width: 150px;
  height: 40px;
  border: 1px solid orange;
  background: transparent;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
}
.card button:hover {
  background: orange;
  cursor: pointer;
}
.card__image:hover {
  width: 100%;
  height: 100%;
  border-radius: unset;
  border: none;
  transform: unset;
}
a {
  text-decoration: none;
}
